.ftco-section-parallax .parallax-img, .ftco-section {
    padding: 5em 0;
}

.ftco-footer {
    padding: 2em 0;
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    font-size: 15px;
}

.parallax-img, .parallax-img h2 {
    /* background-image: url(Content/images/banner-chuva-abundante.jpeg) !important;
    background-size: cover !important;
    background-position: center center !important;
    background-attachment: fixed !important; */
    color: white !important;
}

.parallax-img .subheading {
    color: rgba(255, 255, 255, 0.5);
}

#home {
    height: 100vh;
    background-image: url(../images/banner-chuva-abundante.jpeg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.blog-entry .meta > div {
    color: #4d4d4d;
    display: block;
}

#divOndeEstamos {
    height: 100vh;
}

#divOndeEstamos .parallax-img, #divPalavras .parallax-img {
    height: 100%;
}

#mapaDeCelulas {
    width:80vw; height:70vh
}

.marginCenter {
    margin: 0 auto;
}

#iframeVN {
    height: 315px; width:100%;
}

@media (max-width: 767.98px){
    .blog-entry {
        width: 80vw;
        margin: 10px auto;
    }
}

@media (min-width: 768px){
    .blog-entry {
        width: 30vw;
    }
}
